.dashboard {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    .actions {
        display: flex;

        h3 {
            display: inline-block;
            padding: 10px;
        }
    }

    
    .articles {
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .article {
            width: 45%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 10px;
            margin: 10px 0;

            .buttons {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                align-self: flex-end;

                button, a {
                    width: 45%;
                    border-radius: 5px;
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    
                    &.delete {
                        background: $primary-red;
                        color: white;
                        
                        &:hover {
                            box-shadow: 0 0 2px dimgray;
                            filter: brightness(0.95);
                        }
                    }
                }
                
                a {
                    text-align: center;
                    color: dimgray;
                    text-decoration: none;
                    border: 1px solid lightgrey;
                    
                    &:hover {
                        box-shadow: 0 0 2px dimgray;
                        background-color: rgb(236, 235, 235);
                    }
                }
            }
        }
    }
}